.App {
  text-align: center;
}

body {
  background: #9788ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input-edit {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  width: 200px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
